@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../images/backgound.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--cor8);
    font-family: Arial, Helvetica, sans-serif;
}
#page{
    background:var(--cor9);
    width: 100%;
    height: 100vh;
}
header{
    width: 80%;
    background-color:var(--cor2);
    /*height: 80px;*/
    margin: 0 auto;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
#logo{
    width: 20%;
}
#logo img{
    width: 90%;
}
/*menu*/
#menu{
    /*width: 80%;*/
}
#menu nav ul{
    display: flex;
}

#menu nav ul li{
    list-style: none;
    margin-left: 10px ;
}

#menu nav ul li i{
    color:var(--cor1);;
}

#menu nav ul li i:hover{
    background-color:var(--cor7); 
}

#menu nav ul li a{
    color: var(--cor3);
    text-decoration: none;
    padding: 10px;
    transition: background 250ms;
    border-radius: 0px 10px 0px 10px;
}
#menu nav ul li a:hover{
    background-color:var(--cor6);
}

#produto{
    background-color:var(--cor6); 
    color:var(--cor1);
}


/*conteudo*/
main{
    display: flex;
    width: 80%;
    margin: 100px auto;   
    color:var(--cor3);
    }
.coluna{
    width:50%;
   /* background-color: red;*/
}
main .coluna h1 {
    color:var(--cor1);
    font-family: 'Pacifico', cursive;
    font-size: 5em;
}

:root{
    --cor1:white;
    --cor2:yellow;
    --cor3:red;
    --cor4:blue;
    --cor5:aquamarine;
    --cor6:#70742c;
    --cor7:royalblue;
    --cor8:coral;
    --cor9:rgba(0,0,0,0.6);
}

p{
    color: var(--cor4);

}

main .coluna img{
    height: 320px;
    float: right;
    border-bottom: 15px solid var(--cor6);
}
.btn{
    padding: 10px 8px;
    width: 50px;
    color: var(--cor4);
    background: var(--cor3);
    border: 1px solid var(--cor2);
    border-radius:10px ;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.btn:hover{
    background: var(--cor5);
    transition: background 1s;
}

footer{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}